.me{
      background-image: url('myproject.jpg');
      background-size: cover;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: cyan;
    }
.container{
    color:darkturquoise;
}
.hide-button {
    margin-bottom: 10px;
  }

#myParagraph{
    display: flex;
    justify-content: center;
    align-items: center;
}  
#hideButton{
    color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;

}

.paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
}